# Feature Engineering class-6 instructor code Date:20-8-2021

In [1]:
import pandas as pd
import seaborn as seaborn

In [2]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
df.shape

(50, 5)

# Handling Null value

In [4]:
#Handle NaN values
mean = df.Transport.mean()
median = df.Transport.median()

In [5]:
df['Transport'] = df['Transport'].fillna(median) #Fill NaN Values

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label = LabelEncoder()

In [8]:
df.Area = label.fit_transform(df['Area'])

In [9]:
df.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

In [10]:
x = df.drop(['Profit'],axis=1)

In [11]:
y = df['Profit']

In [12]:
x.shape

(50, 4)

In [13]:
#from sklearn.model_selection import train_test_split

In [14]:
 #xtrain, xtest, ytrain, ytest = train_test_split(x,y,train_size=.70, random_state=42) # 30% data for testing ; 70% for training

# Min Max Scaler

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
minmax = MinMaxScaler()

# Ignore

In [17]:
scaled_xtrain = minmax.fit_transform(xtrain)

NameError: name 'xtrain' is not defined

In [ ]:
scaled_xtrain

In [ ]:
xtrain.shape

In [ ]:
xtest.shape

In [ ]:
scaled_xtest = minmax.transform(xtest)

In [ ]:
scaled_xtest

# Min Max scaler or Normalization

In [20]:
from sklearn.preprocessing import MinMaxScaler 
mmx = MinMaxScaler()

In [23]:
newx = mmx.fit_transform(x)

In [24]:
x =pd.DataFrame(newx,columns=x.columns)  # cloumn name সহ দেখার জন্য
x.head()

   Marketing Spend  Administration  Transport  Area
0         0.692617        0.651744   1.000000   0.5
1         0.983359        0.761972   0.940893   0.0
2         0.927985        0.379579   0.864664   1.0
3         0.873136        0.512998   0.812235   0.5
4         0.859438        0.305328   0.776136   1.0

# Standard Scaler or Standardisation

In [ ]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [ ]:
x  = std.fit_transform(x)

In [ ]:
x.head()

# RobustScaler

In [ ]:
from sklearn.preprocessing import RobustScaler
rob = RobustScaler()

# MaxAbsScaler

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
rob = MaxAbsScaler()

# Power Transformation

In [ ]:
from sklearn.preprocessing import PowerTransformer
scaler = PowerTransformer(method='yeo-johnson')

In [ ]:
df['Marketing Spend'].max()

In [ ]:
df['Marketing Spend'] = df['Marketing Spend'] / df['Marketing Spend'].max()

In [ ]:
df['Marketing Spend'].head()

In [ ]:
reg.fit(xtrain, ytrain)